.container {
    text-align: center;
    margin-top: 23px;
}
input{
    border: 5px solid #244624;
    border-radius: 15px;
    font-size: 34px;
    background-color: #89c1b199;
    font-family: 'Orbitron', lucidia console;
    
    
}
button{
    border-radius: 20px;
    font-size: 40px;
    background-color:#bdcaca;
    width: 123px;
    height: 57px;
}
table{

    margin: auto;
}
